<%- contentFor('main') %>

<div id="inicio">
    <div id="inicio-conteudo">
        <div id="inicio-conteudobox">
            <h1 class="titulos">Guia de Métodos de IHC</h1>
            <hr class="traco1">
            <div class="divisor"> </div>
            <p>As avaliações de Interação-Humano Computador tem 
                o objetivo de entender a qualidade de interação que um sistema ou artefato computacional oferece aos seus usuários. A partir delas, problemas de IHC podem ser corrigidos antes do produto ser lançado, garantindo a qualidade e acessibilidade do seu sistema.
                <br><br><strong>Comece sua jornada! </strong></p>
        </div>
        <a class="btn-app" id="acesse-guia" href="/guia">COMEÇAR &raquo;</a>
                 
    </div>
</div>

<div class="jumbotron text-center">
    <h1>Guia de Métodos</h1> 
    <!--<%questoes.map((item)=> { %>
        <p><%= item.title%></p>
        <p><%= JSON.stringify(item.options)%></p>
    <% }) %>-->
    <div class="row">
        <!--usuario vai puxar de usuario(que no caso, vai receber o vetor users lá no server.js)-->
        <% for (questao of questoes){%>
            <div class="col-sm-4">
                <h2><%= questao.id_q %></h2>
                <h1><%= questao.title %></h1>           
                <% for (let index= 0; index < questao.options.length ; index++){ %>
                    <p id="enunciado"><%= JSON.stringify(questao.options[index].title)%></p>
                    <input type="radio" name="itens" id="item <%= index%>" value="<%= JSON.stringify(questao.options[index].title) %>">
                <% }%>           
            </div>
        <% } %>           
    </div>
    <div id="buttons-guia">
        <input  type="button" value="Próximo" onclick="proximo()">
        <input type="button" value="Voltar" onclick="voltar()">
    </div>

    <script type="text/javascript">
        let valueId=1;

        function proximo(){
            valueId+=1;
            console.log(valueId)
        }

        function voltar(){
            valueId-=1;
            console.log(valueId)
        }
    </script>
</div>

