<%- contentFor('main') %>

<div class="pages">
    <div class="pages-conteudo">

        <div class="conteudo">
            <div class="trabalhos-header">
                <img class="header-img" src="../images/header-produtos.png" alt="">
                <div class="trabalhos-desc">
                    <h1 class="titulos">Produtos</h1>
                    <hr id="traco-produtos">
                    <p class="descricao">Projetos desenvolvidos por alunos dentro da Célula que geraram produtos.</p>
                </div>
            </div>
            <div id="produtos-info">
                <h1>Aqui você vai encontrar...</h1>
                <div id="icons-produtos">
                    <ul>
                        <li>
                            <img src="../images/icones/icon-ux.png" alt="">
                            <p>UX</p>
                        </li>
                        <li>
                            <img src="../images/icones/icon-jogos.png" alt="">
                            <p>JOGOS DIGITAIS</p>
                        </li>
            
                        <li>
                            <img src="../images/icones/icon-ihc.png" alt="">
                            <p>IHC</p>
                        </li>
                        <li>
                            <img src="../images/icones/icon-app.png" alt="">
                            <p>APP</p>
                        </li>
                        <li>
                            <img src="../images/icones/icon-catalogo.png" alt="">
                            <p>CATÁLOGO</p>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="produtos-render">
                <% for(let index= 0; index < cardProdutos.length ; index++) { %>
            
                    <h1 class="render-titulo"><%= cardProdutos[index].ano %><img class="icon-mais" src="../images/icones/seta-mais-produtos.png" alt=""></h1>

                    <div id="produtos-card">
                        <div id="produtos-tag">
                            <img src="<%= cardProdutos[index].produtos.tag %>" alt="">
                        </div>
                        <div id="produtos-texto">
                            <h1><%= cardProdutos[index].produtos.title%></h1>
                            <p><%= cardProdutos[index].produtos.autores%></p>
                            <p><%= cardProdutos[index].produtos.descricao%></p>

                            <a href="<%= cardProdutos[index].produtos.link %>">Leia mais <img class="icon-mais" src="../images/icones/seta-leia-mais-produtos.png" alt=""></a>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>

    </div>
</div>